*.pyc
*~
*.swp
*.venv
*.~lock.*#
*.ropeproject
.python-version
.DS_Store
.noseids
tests/how_old_are_you.json
tests/test_output
.idea
.vscode

# folders created by setuptools
build
dist
pyxform.egg-info

# By having build ignored above, this ignores documents created by
# sphinx. Overall, I think this is a good thing.

# a virtual environment
env

# ignore pypi manifest
MANIFEST
pyxform/tests/test_output/

# ignore pyxform_validator_update files
pyxform/validators/odk_validate/.last_check
pyxform/validators/odk_validate/latest.json