name: Release

on:
  release:
    types: [published]

jobs:
  release:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python: ['3.8']
        os: [ubuntu-latest]
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}

      # Install dependencies.
      - uses: actions/cache@v2
        name: Python cache with dependencies.
        id: python-cache
        with:
          path: ${{ env.pythonLocation }}
          key: ${{ env.pythonLocation }}-${{ matrix.os }}-${{ matrix.python }}-${{ hashFiles('pyproject.toml') }}
      - name: Install dependencies.
        run: |
          python -m pip install --upgrade pip
          pip install -e .
          pip list

      # Build and publish.
      - name: Publish release to PyPI
        if: success()
        run: |
          pip install flit==3.9.0
          flit --debug publish --no-use-vcs
        env:
          FLIT_USERNAME: __token__
          FLIT_PASSWORD: ${{ secrets.PYPI_API_TOKEN }}
